<h1>Services</h1>
<ul>
  <% @services.each do |service| %>
    <li>
      <a href="<%= service_path(service) %>">
        <%= service.title %> - $<%= service.price %>
      </a>
      by <%= service.user.name %>
    </li>
  <% end %>
</ul>
